/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

/* 
      MAIN COLOR: #845ef7
      GREY COLOR: #343a40
      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

img {
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transform: scale(1.5);
}

.carousel {
  width: 800px;
  margin: 100px auto;
  padding: 32px 48px 32px 86px;
  background-color: #845ef7;
  border-radius: 12px;
  position: relative;

  display: flex;
  align-items: center;
  gap: 86px;
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #f3f0ff;
}

.testimonial-author {
  font-size: 14px;
  color: #e5dbff;
}

.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.btn--right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #845ef7;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #845ef7;
  border-radius: 50%;
  cursor: pointer;
}

.dot--filled {
  background-color: #845ef7;
}
